{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}
<style>
    .btn {
        background-color: rgb(205, 93, 112);
    }
</style>

<h1>ALL BOOKS</h1>
<table class="table">
    <tr><th>ID</th><th>Name</th><th>Price</th><th>Image</th><th>Show</th><th>Delete</th><th>Update</th>
    <th>Add Author</th><th>Show Author</th><th>Edit Author</th></tr>
    {% for book in books %}
        <tr>
            <td>{{ book.id }}</td>
            <td>{{ book.name }}</td>
            <td>{{ book.price }}</td>
            <td> <img src="{{book.image_url}}" width="100" height="100"></td>
            <td><a class="btn" href="{% url 'Book show' book.id %}">Show</a></td>
            <td><a class="btn" href="{% url 'delete book' book.id %}"> Delete </a></td>
            <td><a class="btn" href="{% url 'update book' book.id %}"> Update </a></td>
            <td><a class="btn" href="{% url 'add author' %}"> Add Author </a></td>
            <td><a class="btn" href="{{book.show_author}}"> {{book.author.name}} </a></td>
            <td><a class="btn" href="{{book.edit_author}}"> Edit Author </a></td>
        </tr>
    {% endfor %}
</table>

<a href="{% url 'create book' %}" class="btn btn-primary"> Add a new book </a>
{% endblock %}