{% extends 'layouts/base.html' %}
{% load static %}
{% block 'content' %}
<style>
    img {
      object-fit: contain;
      display: block; 
      margin-top: 20px;
      margin-left: auto; 
    }
    .btn {
      background-color: rgb(177, 98, 110);
      color: white;
      margin: 20px auto ;
      left: 50%;
      display: block;
      width: 200px;
    }
    a{
      text-decoration: none;
      color:rgb(177, 98, 110)
    }
    .link{
      display: inline-block;
      background-color: beige;
      color: black;
      padding: 10px;
    }
</style>
<h1> Book Info </h1>
<div class="card mb-3">
  <img src="{{book.image_url}}"
       class="card-img-top" alt="..." height="250px" width="700px">
  <div class="card-body">
    <h4 class="card-title">{{book.name}}</h4>
    <br>
    <div class="card-text">
      <p><b>Author: </b><a href="{{book.show_author}}"> {{book.author.name}} </a></p>
      <p class="card-text"><b>Price: </b> {{book.price}}</p>
      <p class="card-text"><b>Number Of Pages: </b> {{book.noOfPages}}</p>

      <a class="link" href="{% url 'add book author' book.id %}"> Add Book Author </a>
      <a class="link" href="{{book.edit_author}}"> Edit Author </a>

    </div>
  </div>
</div>
<a class="btn" href="{% url 'get books' %}">Back to All Books</a>

{% endblock %}